---
import HomeTab from '../components/Tabs/HomeTab.astro'
import AcademicsTab from '../components/Tabs/AcademicsTab.astro'
import MissingAnApp from './Tabs/MissingAnApp.astro'
---

<nav class="space-y-2">
    <HomeTab />
    <AcademicsTab />
    <MissingAnApp />
</nav>