---
import Nav from '../components/Nav.astro';
import { siteConfig } from '../config/site';
---

<div id="sidebar" class=`fixed lg:relative w-64 min-w-64 h-screen transition-transform duration-300 ease-in-out -translate-x-full lg:translate-x-0 p-4 bg-[#B8DFD9] z-40 overflow-hidden`>
  <div class="flex flex-col mb-8 lg:mb-0">
    <div class="flex items-center space-x-2 mb-2 lg:mb-0">
      <div class="relative w-12 h-12 flex-shrink-0">
        <img 
          alt={siteConfig.school.logo.alt} 
          src={siteConfig.school.logo.src}
          class="w-full h-full object-contain"
        />
      </div>
      <div class="flex items-center min-w-0">
        <span class="text-xl font-bold text-black truncate">{siteConfig.shortName}</span>
      </div>
    </div>
  </div>

  <div class="flex-grow overflow-y-auto lg:pt-4"> <!-- Added lg:pt-4 for padding on desktop -->
    <Nav />
  </div>

  {siteConfig.features.oauth.enabled && (
    <div class="absolute bottom-4 left-4 right-4">
      <div class="flex items-center space-x-2">
        <span class="relative flex h-8 w-8 shrink-0 overflow-hidden rounded-full">
          <img class="aspect-square h-full w-full" alt="User" src="user.png" />
        </span>
        <span class="text-sm font-medium text-black truncate">Not Signed In</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-black flex-shrink-0"
        >
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </div>
    </div>
  )}
</div>

<style>
  @media (min-width: 1024px) {
    #sidebar .flex-grow {
      padding-top: 1rem;
    }
  }

  @media (max-width: 1024px) {
    #sidebar {
      padding-top: 4rem;
    }
  }
</style>