---
import Card from '../components/Card.astro';
import SportTab from '../components/Tabs/SportTab.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout pagetitle="Sport" version="v0.1">
          <SportTab />
          <div class="grid grid-cols-3 gap-4">
          </div>
</MainLayout>
