---
import Card from '../components/Card.astro';
import LibraryTab from '../components/Tabs/LibraryTab.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout pagetitle="Library" version="v0.1">
          <LibraryTab />
          <div class="grid grid-cols-3 gap-4">
          </div>
</MainLayout>
